.feature {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  &__item-list:not(:last-child) {
    margin-right: 30px;
    /* margin-bottom: 94px; */
  }
}

/* .feature-item-list {
  width: 270px;
  height: 101px;
} */

.features-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

/* .feature-item-list::before {
    content: '';
} */

// .features-item::before {
//   display: block;

//   content: "";
//   height: 120px;
// }

.feature-item {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--tittle-text-color);
  margin-bottom: 10px;
}

.feature-list {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
