.features {
  padding-top: 60px;
  padding-bottom: 60px;
}

.feature {
  @media screen and (min-width: 768px) {
    max-width: 768px;

    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }

  &__item-list {
    @media screen and (min-width: 768px) {
      width: calc((100% - 2 * 30px) / 2);
    }
  }
}
/* .feature-item-list {
  width: 270px;
  height: 101px;
} */

.features-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 30px;
  width: 100%;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

/* .feature-item-list::before {
    content: '';
} */

// .features-item::before {
//   display: block;

//   content: "";
//   height: 120px;
// }

.feature-item {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--tittle-text-color);
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  @media screen and (min-width: 768px) {
    max-width: 768px;
    justify-content: flex-start;
  }
}

.feature-list {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}
