.page-footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.container.footer {
  max-width: 100%;
  align-items: baseline;
}

.container-footer {
  display: block;
  align-items: center;
  justify-content: center;
}

.footer-contacts {
  display: block;
  margin-top: 20px;
  &__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

/* =====footer-soc===== */

.footer-soc__title {
  display: block;
  align-items: center;
  justify-content: flex-start;

  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-bg-color);
}

.footer-soc {
  display: block;
  align-items: center;
  justify-content: center;
  margin-left: 70px;
  &__list {
    display: flex;
    justify-content: center;
  }
  &__item {
    width: 44px;
    height: 44px;
    margin-left: 10px;
  }
  &__item:first-child {
    margin-left: 0;
  }
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      background-color: var(--accent-color);
    }
  }
  &__icon {
    fill: var(--primary-bg-color);
  }
}

// .page-footer {
//   display: flex;
//   background-color: #2f303a;
//   padding-top: 60px;
//   padding-bottom: 60px;
// }

// .container.footer {
//   display: flex;
//   align-items: baseline;
// }

// .container-footer {
//   display: block;
//   align-items: center;
//   justify-content: center;
// }

// .footer-contacts {
//   display: block;
//   margin-top: 20px;
//   &__item:not(:last-child) {
//     margin-bottom: 9px;
//   }
// }

// .address {
//   font-style: normal;
//   font-weight: 400;
//   font-size: 14px;
//   line-height: 1.71;
//   letter-spacing: 0.03em;
//   color: #ffffff;
// }

// /* =====footer-soc===== */

// .footer-soc__title {
//   display: block;
//   align-items: center;
//   justify-content: flex-start;

//   margin-bottom: 10px;
//   font-weight: 700;
//   font-size: 14px;
//   line-height: 1.14;
//   letter-spacing: 0.03em;
//   text-transform: uppercase;
//   color: var(--primary-bg-color);
// }

// .footer-soc {
//   display: block;
//   align-items: center;
//   justify-content: center;
//   margin-left: 70px;
//   &__list {
//     display: flex;
//     justify-content: center;
//   }
//   &__item {
//     width: 44px;
//     height: 44px;
//     margin-left: 10px;
//   }
//   &__item:first-child {
//     margin-left: 0;
//   }
//   &__link {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     width: 100%;
//     height: 100%;
//     border-radius: 50%;
//     background-color: rgba(255, 255, 255, 0.1);
//     transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
//     &:hover,
//     &:focus {
//       background-color: var(--accent-color);
//     }
//   }
//   &__icon {
//     fill: var(--primary-bg-color);
//   }
// }
