.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #000000;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  margin-right: 93px;
}

.logo-part {
  color: var(--accent-color);
  letter-spacing: 0.03em;
}

.footer-logo {
  color: #ffffff;
  background-color: #2f303a;
  letter-spacing: 0.03em;
}
