.subscribe {
  margin-top: 60px;
  &__title {
    display: block;
    align-items: center;
    justify-content: flex-start;
    text-align: center;

    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-bg-color);
  }
}

.send-icon {
  position: absolute;
  right: 156px;
  top: 50%;
  transform: translateY(-50%);
}

.form {
  // display: flex;
  &__input {
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    padding: 15px 16px;

    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    outline: transparent;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
}

// .subscribe {
//   margin-left: 93px;
//   &__title {
//     display: block;
//     align-items: center;
//     justify-content: flex-start;

//     margin-bottom: 10px;
//     font-weight: 700;
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.03em;
//     text-transform: uppercase;
//     color: var(--primary-bg-color);
//   }
// }

// .send-icon {
//   position: absolute;
//   right: 28px;
//   top: 50%;
//   transform: translateY(-50%);
// }

// .form {
//   display: flex;
//   &__input {
//     width: 358px;
//     height: 50px;
//     margin-right: 12px;
//     padding: 15px 16px;

//     background: transparent;
//     border: 1px solid rgba(255, 255, 255, 0.3);
//     border-radius: 4px;
//     outline: transparent;

//     font-weight: 400;
//     font-size: 16px;
//     line-height: 1.25;
//     letter-spacing: 0.03em;
//     color: rgba(255, 255, 255, 0.6);
//   }
// }
