html {
  box-sizing: border-box;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Roboto;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  width: 100%;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}
